{
  "extends": "airbnb",
  "rules": {
    "semi": [2, "never"],
    "comma-dangle": [2, "never"],
    "no-shadow": 0,
    "react/jsx-closing-bracket-location": [2, {
      "nonEmpty": "after-props",
      "selfClosing": "after-props"
    }]
  },
  "env": {
    "mocha": true
  }
}
